.jumbotron#Userlogin
{
    background-color: #fff;
    background-image: none;
}
.Userlogin-container
{
    background-color: #dbdbdb;
    margin-top: 50px;
    height: 500px;
    width: 100vh;
    position: relative;
    margin-left: auto !important;
    align-items: center !important;

}
.form-control{
    margin-left: 50%;
}
.login-form
{
    margin-top: 0%;
    text-align: left;
    align-items: flex-end;
}

.row
{
    align-content: center !important;
}

